#my-navbar {
    background-color: #333; /* Dark gray background color */
    color: #fff; /* White text color */
    /* Add any other styles you want here */
}


/* Style the navigation links (optional) */
.navbar-dark .nav-link {
    color: #fff; /* Text color for navigation links */
}

/* Style the active link (optional) */
.navbar-dark .nav-item.active .nav-link {
    background-color: #555; /* Background color for the active link */
    color: #fff; /* Text color for the active link */
}