<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main class="container">
    <div class="row">
        <!-- Left column for the picture -->
        <div class="col-md-6">
            <img src="../../../resources/img/IMG_3054.jpeg" alt="Your Image" class="img-fluid">
            <!-- <img src="https://scontent-den4-1.xx.fbcdn.net/v/t1.6435-9/48376419_2069365503151922_5341414229171765248_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=HnjR9iNO2IwAX9FUqf7&_nc_ht=scontent-den4-1.xx&oh=00_AfAsoH0tGOLEHyeQBzYEWZqMxdMhIbN4yCEX3tkms_QU7Q&oe=65482A4A"> -->
        </div>
        <!-- Right column for the introduction -->
        <div class="col-md-6">
            <h1>About Me</h1>
            <p>
                Hello, I'm Mark, a recent graduate from the University of Colorado at Boulder with a degree in Computer Science,
                 class of 2023. Hailing from the beautiful land of Uganda, I'm on the lookout for my dream job while pursuing my passions.
            </p>
            <p>
                Beyond my professional aspirations, I have a deep love for sports, you can often find me on the basketball court.
                 I'm passionate about the game and the camaraderie it brings. Being active is more than just a hobby; it's a way of life for me. 
                 Whether it's a pick-up game with friends or a solo run through scenic trails, staying active keeps my spirit alive.
            </p>

            <p>
                Welcome to my website, where I invite you to explore more about me, my interests, and my journey. 
                Feel free to navigate through the pages and discover the world through my lens. 
                Let's connect and share our experiences. Together, we can make each adventure more vibrant and each day more exciting.
            </p>
        </div>
    </div>
</main>



<%- include ('../partials/footer') %>